<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sookcha.wonjubus" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyB8mEX1xdBLeW9rjJz11EtcYsmhWFhTgAg"/>
        <meta-data android:name="com.google.android.gms.version" android:value="6171000" />
        <!-- 광고를 노출할 Activity 에 android:configChanges=”orientation”을 반드시 추가해야 한다. -->
        <activity
            android:name="com.sookcha.wonjubus.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sookcha.wonjubus.StationActivity"
            android:label="@string/title_activity_station" >
        </activity>
        <activity
            android:name="com.sookcha.wonjubus.BusInformationActivity"
            android:label="@string/title_activity_bus_information" >
        </activity>
        <activity
            android:name="com.sookcha.wonjubus.LocateActivity"
            android:label="@string/title_activity_locate" >
        </activity>
        <!-- Interstitial 광고를 사용하기 위해서는 반드시 이 부분을 추가해야한다. -->
        <activity
                android:name="net.daum.adam.publisher.impl.AdInterstitialActivity"
                android:configChanges="orientation|keyboardHidden"
                android:screenOrientation="portrait" />

    </application>

</manifest>
